# ─── Application ──────────────────────────────────────────────
PORT=3001
NODE_ENV=development
API_PREFIX=v1

# ─── MySQL (Aiven en production) ──────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_NAME=soloma_db
DB_USER=soloma_user
DB_PASSWORD=your_secure_password
# Mettre DB_SSL=true en production avec Aiven (SSL obligatoire)
DB_SSL=false

# ─── JWT ──────────────────────────────────────────────────────
JWT_SECRET=change_this_to_a_very_long_random_string
JWT_EXPIRES_IN=7d

# ─── Mail SMTP ────────────────────────────────────────────────
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=contact@soloma.sn
MAIL_PASSWORD=your_app_password
MAIL_FROM="SOLOMA SUARL <contact@soloma.sn>"
MAIL_ADMIN=admin@soloma.sn

# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USER=abadaa9518@gmail.com
# MAIL_PASSWORD=fimvvhhbdffpiupn
# MAIL_FROM=abadaa9518@gmail.com
# MAIL_ADMIN=abadaa9518@gmail.com

# ─── Cloudinary ───────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# ─── CORS ─────────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000
